<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>500 Error page</title>
</head>
<body>
<h1 style="color:red; text-align:center"> Sorry something went wrong!!</h1>
        <h2 style="color:red; text-align:center">Invalid input</h2>
    <h3 style="color:red; text-align:center">PAGE NOT FOUND BAD REQUEST</h3>
  
   <center> <p> We're unable to find out what's happening! We suggest you to
			<br/>
			<a href="/students">Go Back</a>
			or visit here later.</p></center>

</body>
</html>